@import "tailwindcss";

:root {
  --background: #f5f7fc;
  --foreground: #171717;
  --primary: #3d58ff;
  --second: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-second: var(--second);
  --font-poppins: var(--font-poppins);
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins), sans-serif;
}
